@font-face {
  font-family: "Comfortaa-Regular";
  src: url(./assets/font/Comfortaa-Regular.ttf);
}

:root {
  --main: #FCCFA1;
  --background: #1B1312;
  --background-element: #221a19;
  --background-darker: #160D0C;
}

html, body, #root {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #1B1312;
  overflow: hidden;
  margin: 0;
}

* {
  font-family: 'Comfortaa-Regular';
}

a {
  all: unset;
  cursor: pointer;
}

.gradient-border {
  padding: 1px;
  background: linear-gradient(to bottom, #FFFFFF33, #ffffff1a);
}